<!-- navbar.html -->
<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Sistema RMA</div>
    <div class="list-group list-group-flush">
        <a href="{% url 'dashboard_view' %}" class="list-group-item list-group-item-action">Dashboard</a>
        <a class="list-group-item list-group-item-action">Clientes</a>
        {% if request.session.role == "admin" %}
        <a class="list-group-item list-group-item-action">Equipos</a>
        {% endif %}
        <a class="list-group-item list-group-item-action">Órdenes de Reparación</a>
        {% if request.session.role == "admin" %}
        <a class="list-group-item list-group-item-action">Técnicos</a>
        {% endif %}
        {% if request.session.role == "admin" %}
        <a class="list-group-item list-group-item-action">Inventario</a>
        {% endif %}
        <a class="list-group-item list-group-item-action">Servicios en Sitio</a>
        {% if request.session.role == "admin" %}
        <a class="list-group-item list-group-item-action">Reportes</a>
        {% endif %}
        {% if request.session.role == "admin" %}
        <a href="{% url 'users_list' %}"class="list-group-item list-group-item-action">Users</a>
        {% endif %}
    </div>
</div>
