<!-- navbar.html -->
<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">RMA System</div>
    <div class="list-group list-group-flush">
        <a href="{% url 'dashboard_view' %}" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="{% url 'clientes_list' %}" class="list-group-item list-group-item-action">Clients</a>
        {% if request.session.role == "admin" %}
        <a href="{% url 'modelos_list' %}" class="list-group-item list-group-item-action">Models</a>
        {% endif %}
        <a href="{% url 'tickets_list'  %}" class="list-group-item list-group-item-action">Repair Orders</a>
        {% if request.session.role == "admin" %}
        <a href="{% url 'users_list' %}" class="list-group-item list-group-item-action">Users</a>
        {% endif %}
    </div>
</div>
